/* styles/components/Courses.css */

.courses {
    text-align: center;
    margin: 20px;
  }
  
  .courses h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .courses-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .course-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: left;
  }
  
  .course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .course-card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  .course-card p {
    font-size: 1rem;
  }
  .course-card img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
    